# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows   taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# ----------------------------------------------------------------------------------------------
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Tags      taken from: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Vim       taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# SASS
# ----------------------------------------------------------------------------------------------
.sass-cache
/NetBeansProjects/Jtest/nbproject/private/
/NetBeansProjects/Jtest/build/
/NetBeansProjects/test2/nbproject/private/
/NetBeansProjects/test2/build/
/NetBeansProjects/CassandraStorage/nbproject/private/
/NetBeansProjects/CassandraStorage/build/
/NetBeansProjects/PartialFactorial/nbproject/private/
/NetBeansProjects/PartialFactorial/build/
/NetBeansProjects/FullFactorialDesign/nbproject/private/
/NetBeansProjects/FullFactorialDesign/build/
/NetBeansProjects/testExtend/nbproject/private/
/NetBeansProjects/testExtend/build/
/NetBeansProjects/iptvList/nbproject/private/
/NetBeansProjects/Hadamard/nbproject/private/
/NetBeansProjects/Hadamard/build/
/NetBeansProjects/javaTests/nbproject/private/
/NetBeansProjects/javaTests/build/
/NetBeansProjects/simpleGa/nbproject/private/
/NetBeansProjects/simpleGa/build/
/NetBeansProjects/JGAP/nbproject/private/
/NetBeansProjects/JGAP/build/
/NetBeansProjects/jDOE/nbproject/private/
/NetBeansProjects/jDOE/build/
/NetBeansProjects/t-test/nbproject/private/
/NetBeansProjects/t-test/build/
/NetBeansProjects/t-test/dist/
/NetBeansProjects/cassandra/nbproject/private/