# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows   taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# ----------------------------------------------------------------------------------------------
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Tags      taken from: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
!TAGS/
tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

# Vim       taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# SASS
# ----------------------------------------------------------------------------------------------
.sass-cache



NetBeansProjects/*
Desktop/
Docear/
Documents/
Downloads/
Dropbox/
Matlab_files/
Music/
Pictures/
Private/
Videos/
VirtualBox VMs/

ICEauthority
.Rhistory
.Skype/
.VeraCrypt/
.Xauthority
.android/
.aptitude/
.bash_history
.bash_logout
.bogofilter/
.byobu/
.cache/
.cassandra/
.config/
.conky.working.old/
.conky/
.conkyrc-working.old
.conkyrc.bk
.cups/
.dbus/
.docear/
.dropbox-dist/
.dropbox/
.eteks/
.filebot/
.filezilla/
.fonts/
.gamtrc
.gconf/
.gimp-2.8/
.gitconfig.bak
.gnome/
.gnupg/
.gradle/
.gstreamer-0.10/
.hplip/
.icedove/
.install4j
.java/
.kodi/
.lastpass/
.lesshst
.local/share/.converted-launchers
.local/share/Spotydl/
.local/share/TpLogger/
.local/share/Trash/
.local/share/applications/wine*
.local/share/data/
.local/share/desktop-directories/
.local/share/docear.desktop
.local/share/evolution/
.local/share/folks/
.local/share/fonts/
.local/share/gegl-0.2/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/grilo-plugins/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/keyrings/
.local/share/mendeleydesktop
.local/share/mime/
.local/share/recently-used.*
.local/share/rhythmbox/
.local/share/spotify/
.local/share/telepathy/
.local/share/tracker/
.local/share/vinagre/
.local/share/vlc/
.local/share/webkit/
.local/share/zeitgeist/
.m2/
.macromedia/
.matlab/
.mozilla/
.nbi/
.netbeans-derby.old/
.netbeans.old/
.netbeans/
.nv/
.objectdb/
.openvpn/
.oracle_jre_usage/
.pip/
.pki/
.profile
.putty/
.rnd
.rstudio-desktop/
.subversion/
.texmf-var/
.thumbnails/
.vega/
.vim/backups/
.vim/bundle/
.vim/sessions/
.vim/vundles.old/
.viminfo
.viminfo.tmp
.viminfz.tmp
.wine/
.wireshark/
.xbmc/
.xchat2/
.xsession-errors
.zch_history
.zcompdump
.zcompdump-ddebian-5.0.7
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
git/
nbproject/
.ICEauthority
bin/gpgdrive/


java.log*
.gnuplot_history
