#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp Web
Exec=/opt/google/chrome/google-chrome --app=https://web.whatsapp.com/
Icon=chrome-https___web.whatsapp.com_
StartupWMClass=web.whatsapp.com
